<div class="container">
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <div class="card hovercard">
        <div class="cardheader">
        </div>
        <div class="navigation-button-container">
          <div class="wrap">
            <div class="search">
              <input type="text" class="searchTerm" placeholder="What are you looking for?">
              <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
          <button class="navigation-button btn btn-success">Feed</button>
          <button class="navigation-button btn btn-success">Friends</button>
          <button class="navigation-button btn btn-success">Chat</button>
          <button class="navigation-button btn btn-success edit-profile-btn"> <i class="fa fa-edit"></i></button>
        </div>
        <div class="info-container">
          <div class="avatar">
            <img alt="" src="https://scontent.fcmb1-1.fna.fbcdn.net/v/t1.0-9/23722397_1550259995057403_3446315717979825141_n.jpg?_nc_cat=101&_nc_ht=scontent.fcmb1-1.fna&oh=7124b0a27e6642c8d89850a2041d3ea8&oe=5CE43F4A">
          </div>
          <div class="info">
            <div class="title">
              <a target="_blank" href="https://tharuka.xyz/">{{user.name}}</a>
            </div>
            <div class="desc">{{user.email}}</div>
            <div class="desc">{{user.description}}</div>
            <div class="desc">{{user.phone}}</div>
          </div>
        </div>
        <div class="bottom">
        </div>
      </div>
    </div>
  </div>
</div>
